
#outer {
    border: 10px solid rgb(0, 140, 255);
    display: block;
    margin: 20px auto;
    background-image: url(img_meri.jpg);
    background-size: cover;
    background-position: center;
}

body {
    background-image: url(img_map.jpg);
    background-size: cover;
    background-position: center;
}

img.hidden {
    visibility: hidden;
    position: absolute;
}

#outer {
    width: 1050px;
    height: 450px;
}

#ohjeet {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    padding: 30px;
    background-color: rgba(10, 9, 9, 0.8);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
}

